<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Notes</title>
    </head>
    <body>

        <h2>Notes</h2>

        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"></input>
        </form>

        <ul>
            <li th:each="note : ${notes}">
                <a th:href="@{/notes/{noteId}(noteId=${note.id})}" th:text="Note + ${note.id}">note id</a>
            </li>
        </ul>

        <form method="POST" th:action="@{/}" action="/">
            <input type="text" name="content"/>
            <input type="submit" value="Add!"/>
        </form>
    </body>
</html>
