<!DOCTYPE HTML>
<html>
    <head>
        <title>Very save website.</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Welcome to a very safe web application!!</h1>
        <h2>Log in:</h2>
        <form name='f' action="login" method='POST'>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type='text' name='username' value=''/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type='password' name='password' /></td>
                </tr>
                <tr>
                    <td><input name="submit" type="submit" value="log in!" /></td>
                </tr>
            </table>
        </form>

        <h2>Don't have a account yet?</h2>
        <a href="/newAccount">Create a new account!</a>


    </body>
</html>
